* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-style: normal;
  box-sizing: border-box;
  color: #2b546a;
}
.dashboard-container {
  position: relative;
  top: 55px;
  display: flex;
  padding: 10px 15px;
}
.left-container {
  display: flex;
  flex-direction: column;
}
.row-user-profile {
  display: inline-flex;
  border-radius: 3px;
  box-shadow: 0 0px 10px 3px #00000040;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  background: #b6f0ff;
  max-height: 175px;
  padding: 20px 15px;
  margin: 20px 5px;
  width: 73vw;
}
.row-user-profile:hover {
  box-shadow: 0 0px 17px 6px #00000057;
  transform: translate3d(0, -1px, 0);
}
.profil-detail {
  display: flex;
  padding-right: 40px;
}
.profil-detail-img {
  scale: 0.7;
  margin: auto;
}
.profil-detail-text {
  margin: auto;
  font-size: 0.875rem;
}
.lesson-done {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #85858563;
  border-left: 1px solid #85858563;
  text-align: center;
}
.lesson-done-count {
  display: inline-flex;
  font-size: 2rem;
  line-height: 1.5rem;
  align-items: center;
}
.lesson-done-count img {
  scale: 0.6;
}
.lesson-done-text {
  font-size: 0.75rem;
  text-align: center;
}
.training-done {
  margin: auto;
  text-align: center;
  padding-left: 20px;
}
.training-done-count {
  display: inline-flex;
  font-size: 2rem;
  line-height: 1.5rem;
  align-items: flex-end;
  margin-bottom: 8px;
}
.training-done-text {
  font-size: 0.75rem;
  text-align: center;
}
.right-container {
  margin-left: 2vw;
}
.right-container img {
  max-width: 175px;
}
@media (min-width: 1000px) {
  .right-container {
    margin-left: 5vw;
  }
}
.next-lesson {
  padding: 15px;
}
.heading-next-lesson {
  margin-bottom: 15px;
}
.heading-content {
  display: flex;
  align-items: center;
}
.heading-content h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin-left: 8px;
}
.progress-lesson-card {
  display: inline-flex;
  height: 195px;
  width: 73vw;
  background: #e8e8e8;
  margin-bottom: 10px;
}
.next-item-icon {
  display: flex;
  width: 140px;
  height: 100%;
  margin-right: 32px;
  background-color: #b6f0ff;
  border-radius: 3px 0px 0px 3px;
  justify-content: center;
}
.next-item-icon img {
  height: 40%;
  margin: auto;
}
.next-lesson-title-box {
  display: inline-flex;
  flex-grow: 1;
  margin: 40px 0;
  flex-direction: column;
}
.next-lesson-title {
  flex-grow: 1;
}
.progress-bar {
  display: flex;
  align-items: center;
  letter-spacing: 0;
  font-size: 12px;
}
.progress-bar-shape {
  width: 86px;
  height: 5px;
  background-color: rgb(48 48 48 / 50%);
  border: 0;
  box-shadow: none;
  margin: 0 12px 0 0;
  display: inline-block;
  text-align: right;
  overflow: hidden;
  border-radius: 1000vh;
}
.progress-bar-shape-reached {
  background-color: #3fcdff;
  width: 23%;
  border-radius: 1000vh;
  height: 100%;
}
.button-lanjutkan {
  position: absolute;
  right: 24vw;
  margin-top: 133px;
  font-size: 0.75rem;
  height: 48px;
  line-height: 48px;
  padding: 0 28px;
  background-color: #30c8d6;
  transition: all 0.3s ease;
  cursor: pointer;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
}
.button-lanjutkan:hover {
  background-color: #23a4b0;
}
.dashboard-completed-lessons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin: 15px;
}
.completed-lesson-card-wrapper {
  padding-left: 0;
  width: 196px;
  margin-bottom: 24px;
  display: inline-block;
  height: 316px;
}
.completed-lesson-card {
  position: relative;
  text-align: center;
  color: #fff;
  width: 196px;
  min-height: 277px;
  padding: 12px 12px 24px;
  line-height: 1;
  border-radius: 3px;
  opacity: 0.9;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.judul-lesson-which-completed h3 {
  color: #fff;
  font-weight: 500;
  margin: 10px 0;
}
.judul-lesson-which-completed {
  margin-top: 16px;
}
.qalqalah-bg {
  background-color: #d2ae78;
}
.icon-lesson-which-completed {
  flex-grow: 1;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.icon-lesson-which-completed img {
  height: 85px;
  width: auto;
  vertical-align: middle;
}
.button-tinjau-ulang {
  background-color: #fff;
  padding: 14px 28px;
  transition: all 0.3s ease;
  display: inline-block;
  font-size: 0.8125rem;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
}
.button-tinjau-ulang:hover {
  background-color: #c59752;
  color: #fff;
}
.qalqalah-color {
  color: #d2ae78;
}
.logo-penanda-completed {
  background-color: rgb(255, 255, 255);
  color: rgba(43, 84, 106, 0.7);
  border-radius: 40px;
  float: left;
  font-size: 0.75rem;
  min-width: 24px;
  height: 24px;
  position: absolute;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.logo-penanda-completed img {
  width: 13px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  overflow-clip-margin: content-box;
  overflow: clip;
}
