* {
  padding: 0;
  margin: 0;
}

.login {
  position: absolute;
  width: 720px;
  height: 1024px;
  left: 0px;
  top: 0px;

  /* WHITE */
  background: #f9f9f9;
}

.login .logobeta {
  position: absolute;
  width: 323px;
  height: 124px;
  left: 187px;
  top: 61px;
}

.login h3 {
  /* Google Login */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 12px;
  gap: 12px;

  position: absolute;
  width: 500px;
  height: 80px;
  left: 110px;
  top: 236px;

  background: #4285f4;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  /*FONT */
  /* H3 */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #ffffff;
}
.login h3 span {
  background-color: white;
  margin-left: -13px;
  margin-right: 30px;
  width: 100px;
  height: 80px;
}
.login h3 span i {
  position: relative;
  top: 22px;
  scale: 2.2;
  color: #4285f4;
}
hr {
  position: absolute;

  width: 600px;
  left: 64px;
  top: 347px;
}
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  position: absolute;
  left: 288px;
  top: 367px;
  color: #7fbcd2;
}
.bawah-button {
  color: gray;
  top: 750px;
  left: 258px;
}
.bawah-button span a {
  color: #7fbcd2;
  text-decoration: none;
}

/* // Form */
form .user-details .input-box {
  position: relative;
  font-family: "Poppins", sans-serif;
  top: 470px;
  left: 110px;
  bottom: 0;
  right: 0;
  margin-bottom: 15px;
  width: 500px;
}
.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}
form .button {
  position: absolute;
  top: 637px;
  left: 110px;
  bottom: 0;
  right: 0;
  height: 45px;
  margin: 45px 0;
}
form .button input {
  height: 100%;
  width: 520px;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: #47b5ff;
  box-shadow: 0px 4px gray;
  transition: all 0.1s ease;
}
form .button input:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
form .button input:active {
  box-shadow: 0px 0px gray;
  transition: 0.1s;
}
/* // END FORM */

.kanan {
  background-color: #a5f1e9;
  position: absolute;
  width: 720px;
  height: 1024px;
  left: 720px;
  top: 0px;
}

.kanan img {
  position: absolute;
  width: 606px;
  height: 539px;
  left: 67px;
  top: 161px;
}

.kanan h1 {
  position: absolute;
  width: 344px;
  height: 205px;
  left: 200px;
  top: 615px;
  font-family: "Amiri Quran Colored";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 98px;
  text-align: center;
  letter-spacing: 0.01em;
  color: black;
}
