* {
	padding: 0;
	margin: 0;
}
header {
	position: absolute;
	width: 1440px;
	height: 492px;
	left: 0px;
	top: 0px;
	background: rgba(250,250,250,0.78);
}
header img {
	position: relative;
	margin-top: 15px;
	margin-left: 50px;
	width: 180px;
	height: 69.18px;
}
header h4 {
/* Masuk */


	position: absolute;
	width: 69px;	
	height: 30px;
	left: 1117px;
	top: 28px;
	text-decoration: none;

	/* H4 */
	
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.01em;
	color: #000000;

}
header h4 a {
	text-decoration: none;
	color: #000000;
}
header h4 a:hover {
	color: red;
}

header h3 {

	background-color: #47B5FF ;
	position: absolute;
	box-sizing: border-box;
	padding: 6px 12px;
	border-radius: 10px;
	left: 1230px;
    top: 24px;
}
header h3 a {
	text-decoration: none;
	color: #F9F9F9;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.09em;

}
header h3:hover {
	background-color: gray;
	color: white;
}

/*
.btn {
display: none;
position: absolute;
width: 180px;
height: 60px;
left: 1221px;
top: 13px;
/*background-color: #47B5FF;*/
/*color: #E7E7E7;*/
/*text-decoration: none;*/
/*border: 1px solid black;*/
/*border-radius: 3px;*/
/*}*/


header h1{
/* Ayo Belajar Tajwid */
position: absolute;
width: 413px;
height: 60px;
left: 524px;
top: 200px;

/* H1 */

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 60px;
/* identical to box height */

text-align: center;
letter-spacing: 0.01em;

/* Color Secondary */

color: #7FBCD2;

}

header h2 {
/* Meningkatkan Kualitas bacaan Al - Qu’ran */


position: absolute;
width: 683px;
height: 120px;
left: 379px;
top: 260px;

/* H1 */

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 60px;
text-align: center;
letter-spacing: 0.01em;

/* Color Secondary */
color: #7FBCD2;
}

.container {
/*	 Rectangle 2 */
position: absolute;
width: 1440px;
height: 532px;
left: 0px;
top: 492px;

/* Color Primary */
background: #A5F1E9;
}

.container .gambar-bawah {
/*	/* Component 1 */
    position: absolute;
    width: 871px;
    height: 589px;
    left: 260px;
    top: -57px;
}